
*{
    padding: 0%;
    margin: 0%
}

body{
    background-image: linear-gradient(to right, white, pink);
}

.foto-header{
    width: 100%;
}

footer{
    height: 100px;
    color: $primary-color;
    @include center-content ();

    button{
        color: $primary-color;
        height: 100px;
        width: 100px;
        border: none;
        border-radius: 50%;
        padding: 0;
        margin: 20px;

        &:hover{
            color:$secundary-color
        }

    }
}

@each $name, $fs, $fw, $lh in $texts {
    .text-#{$name} {
        font-size: $fs;
        font-weight: $fw;
        line-height: $lh;
    }
}

@mixin breakpoint ($size) {
    @if map-has-key ($breakpoints, $size) {
        @media (max-width: #{map-get($breakpoints, $size)}){
            @content;
        }
        
    }
    
}