.anidar{
    ul{
        li{
            h1{
                color: coral;
                font-size: large;
            }
            h2{
                color: green;
                font-size: medium;
            }
            h3{
                color: blue;
                font-size: medium;
            }
            h4{
                color: black;
                font-size: small;
            }
        }
    }
}