
#grilla{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 
    "header header"
    "main aside"
    "footer footer";

    @include breakpoint (sm) {
        display: grid;
        grid-template-areas: 
        "header"
        "main"
        "aside"
        "footer";
        align-items: center;
        text-align: center;
    }

}

.gradiente{
    background-image: linear-gradient(to right, white, pink);
}

header{
    grid-area: header;
}

main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px;
    gap: 15px;
        h1{
        color: $primary-color;
        font-family: $font;
        font-size: 60px;
         }

    @include breakpoint (sm) {
        padding: 0;
        width: 100%;
    }
}

aside{
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 15px;
        h2{
            color: $primary-color;
            font-family:$font;
         }
        p{
            color: rgb(188, 3, 188);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        @include breakpoint (sm) {
            padding: 0;
            width: 100%;
            
        }
}

footer{
    grid-area: footer;
}

#video{
    width: 400px;
    height: 300px;
}

#imgDada{
    width: 80%;
    height: 50%;
        &:hover{
    animation: dada 4s;
}
}

@keyframes dada{
    0%{ scale: (100px);}
    25%{ border-radius: 25%;}
    50%{ width: 200px;}
    75%{ transform: translateY(100px);}
}