
#grilla{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 
    "header header"
    "main main"
    "aside recomendados"
    "footer footer";

    @include breakpoint (sm) {
        display: grid;
        grid-template-areas: 
        "header"
        "main"
        "aside"
        "footer";
        align-items: center;
        text-align: center;
    }

}

header{
    grid-area: header;
}

main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px;
    gap: 15px;
        h1{
        color: $primary-color;
        font-family: $font;
        font-size: 60px;
         }

    @include breakpoint (sm) {
        padding: 0;
        width: 100%;
    }
}

aside{
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 15px;
        h2{
            color: $primary-color;
            font-family:$font;
         }
        p{
            color: rgb(188, 3, 188);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        @include breakpoint (sm) {
            padding: 0;
            width: 100%;
            
        }
}

footer{
    grid-area: footer;
}

.imgDada{
    width: 400px;
    height: 300px;
}
