
.caja{
    height: 300px;
    width: 250px;
    background-color: white;
    line-height: 200px;
    border: 2px solid rgb(215, 73, 94);
    border-radius: 25%;
    color: palevioletred;
    text-align: center;
    margin: 10px;
    align-items: unset;
    padding-top: 20px;
}

.padre{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-around;
    align-content: space-around;
}

img{
    width: 50%;
    height: 60%;
}


