  
  h1{ 
    @include center-content();
    margin: 20px;
  }
.caja{
    height: 300px;
    width: 250px;
    line-height: 200px;
    color: black;
    border-radius: 20%;
    background-color:white;
    text-align: center;
    margin: 10px;
    align-items: unset;
    padding-top: 20px;
        img{
            border-radius: 50%;
        }
}

.padre{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-around;
    align-content: space-around;
    gap: 20px;
}

img{
    width: 50%;
    height: 60%;
}


