h1{
    margin: 50px;
    font-size: 50px;
    color: $primary-color;
    align-content: center;
    justify-content: center;
}
.padreProd{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @include center-content();
    gap: 30px;
    margin: 20px;
    padding: 20px;
}

.caja1, .caja2, .caja3, .caja4{
 margin: 20px;
 padding: 20px;
 border: 2px solid rgb(212, 211, 211);
 gap: 30px;
 img{
    width: 300px;
    height: 300px;
    margin: 5px;
 }
 
    
}